In [1]:
import os
import pandas as pd
from performance import conjunctives_extraction_performance

In [2]:
CONJUNCT_ACTUAL = os.path.join('..', 'datasets', 'conjunctive_statements.csv')

In [3]:
data_df = pd.read_csv(CONJUNCT_ACTUAL, sep=';')
# Temporary workaround
data_df = data_df.iloc[:410]

In [4]:
data_df.head()

,Unnamed: 0,Task,Verb,NounPhrases
0,6,"adds incoming mail date, records letter, archi...",adds,incoming mail date|records letter|archives
1,8,empties & checks the mails in the mailbox,empties|checks,mails in the mailbox
2,10,sends a letter to person and explaines why not,sends,Charles|letter to person
3,12,prepare invoices&send a letter to customer,prepare;send,Invoices;a letter to customer
4,13,prints a membership card&send to new customer,prints;sends to,membership card;new customer

In [5]:
spacy_df = pd.read_csv('conjunctives-spacy.csv', sep=';')
results_spacy = conjunctives_extraction_performance(data_df, spacy_df)
results_spacy

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

{'Accuracy': 0.12439024390243902,
 'Precision': 0.6321428571428571,
 'Recall': 0.4130688448074679,
 'F1-Score': 0.4996471418489767,
 'MeanDeviation': 0.5885365853658536,
 'MedianDeviation': 0.5,
 'MeanDice': 0.4489953542392566,
 'MedianDice': 0.5,
 'MeanJaccard': 0.3888850174216028,
 'MedianJaccard': 0.3333333333333333}

In [6]:
stanza_df = pd.read_csv('conjunctives-stanza.csv', sep=';')
results_stanza = conjunctives_extraction_performance(data_df, stanza_df)
results_stanza

{'Accuracy': 0.1951219512195122,
 'Precision': 0.7483552631578947,
 'Recall': 0.5309218203033839,
 'F1-Score': 0.6211604095563139,
 'MeanDeviation': 0.47695121951219516,
 'MedianDeviation': 0.5,
 'MeanDice': 0.5539605110336815,
 'MedianDice': 0.6666666666666666,
 'MeanJaccard': 0.5015853658536584,
 'MedianJaccard': 0.5}

In [8]:
pd.DataFrame([results_spacy, results_stanza]).T

                        0         1
Accuracy         0.124390  0.195122
Precision        0.632143  0.748355
Recall           0.413069  0.530922
F1-Score         0.499647  0.621160
MeanDeviation    0.588537  0.476951
MedianDeviation  0.500000  0.500000
MeanDice         0.448995  0.553961
MedianDice       0.500000  0.666667
MeanJaccard      0.388885  0.501585
MedianJaccard    0.333333  0.500000